﻿@model Forum.ViewModels.ProfileViewModels
@{
    ViewData["Title"] = "My Posts";
}

    <div class="d-flex justify-content-center">
        <a class="btn btn-primary" href="../Post/New">Add new post</a>

    </div>
    <div class="row" style="background:#ccc">
        <div class="col-md-2">
            <img src="@Model.ProfilePicture" class="rounded" alt=""  style="margin:auto;display:block"width="100" />

        </div>
    <div class="col-md-9">
        
        <h1>@Model.FirstName @Model.LastName</h1>
        </div>
    </div>
<h3>My Posts</h3>
<div class="row">
    @foreach (var post in Model.Posts)
    {
        <div class="col-sm-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@post.Title</h5>
                    <p class="card-text">@post.Description...</p>
                    <a href="../Post/Index/@post.Id" class="btn btn-primary">Read more..</a>
                    <a href="../Post/Edit/@post.Id" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    }
</div>

