﻿@model Forum.ViewModels.ProfileViewModels
@{
    ViewData["Title"] = "My Posts";
}

   
<h1>@Model.FirstName  @Model.LastName's Posts</h1>
<div class="row">
    @foreach (var post in Model.Posts)
    {
        <div class="col-sm-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@post.Title</h5>
                    <p class="card-text">@post.Description...</p>
                    <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id" class="btn btn-primary">Read more..</a>
                </div>
            </div>
        </div>
    }
</div>

