﻿@model Forum.ViewModels.PostPageViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">
        <h6>Topic:<a asp-controller="Home" asp-action="Posts" asp-route-id="@Model.Post.TopicId">@Model.Post.Topic.Name</a></h6>
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Post.Title</h5>
        <pre style="white-space: pre-wrap;">@Model.Post.Description</pre>
        <a href="../edit/@Model.Post.Id" class="btn btn-primary">Edit</a>
    </div>
</div>

<br />
<div class="card">
    <div class="card-header">
        <h6>Discussion</h6>
    </div>
    <div class="card-body">
        @foreach (var comment in Model.Comments)
        {
            <div class="card">

                <div class="card-body">
                    <a asp-controller="Account" asp-route-id="@comment.User.Id"><h5 class="card-title">@comment.User.FirstName @comment.User.LastName</h5></a>
                    <pre style="white-space: pre-wrap;">@comment.Description</pre>
                </div>
            </div>
        }
        <form method="post">
            <div class="form-group">
                <label>Add Comment</label>
                <textarea asp-for="Comment.Description" class="form-control"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Send</button>
        </form>
    </div>
</div>

