﻿@model Forum.ViewModels.PostFormViewModel
@{
    ViewData["Title"] = "New";
}

<h1>@Model.Title</h1>
<form method="post">
    <div class="form-group">
        <label for="topics">Topics</label>
        <select asp-for="Post.TopicId" class="form-control">
            @foreach (var topic in Model.Topics)
            {
                <option value="@topic.Id">@topic.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Post.Title"></label>
        <input type="text" asp-for="@Model.Post.Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Post.Description"></label>
        <textarea type="text" asp-for="Post.Description" class="form-control"></textarea>
    </div>
   <input type="hidden"  asp-for="Post.Id" />
    <button class="btn btn-primary" type="submit">Save</button>
</form>
@section Scripts{ 
    <script>
        var textarea = document.querySelector('textarea');

        textarea.addEventListener('keydown', autosize);

        function autosize() {
            var el = this;
            setTimeout(function () {
                el.style.cssText = 'height:auto; padding:0';
                // for box-sizing other than "content-box" use:
                // el.style.cssText = '-moz-box-sizing:content-box';
                el.style.cssText = 'height:' + el.scrollHeight + 'px';
            }, 0);
        }
    </script>
}