﻿@model Forum.ViewModels.SearchViewResult
@{
    ViewData["Title"] = "My Posts";
}
<h1>My Posts</h1>
<div class="row">
    @foreach (var post in Model.Posts)
    {
        <div class="col-sm-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@post.Title</h5>
                    <p class="card-text">@post.Description...</p>
                    <a href="../Post/Index/@post.Id" class="btn btn-primary">Read more..</a>
              
                </div>
            </div>
        </div>
    }
</div>

