﻿@model List<Forum.Models.Topic>
@{
    ViewData["Title"] = "Home Page";
}
    <h1>Topics</h1>
    <div class="row">
        <div class="text-center">
            @foreach (var topic in Model)
            {
                <div class="col-md-3">
                    <a asp-controller="Home" asp-action="Posts" asp-route-id="@topic.Id">@topic.Name</a>
                </div>
            }
        </div>
    </div>