﻿@model List<Forum.Models.Post>
@{
    ViewData["Title"] = "Posts";
}

<h1>Topic: </h1>

<div class="row">
    @foreach (var post in Model)
    {
        <div class="col-sm-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@post.Title: Author <a href="~/Account/@post.UserId">@post.User.UserName</a></h5>
                    <p class="card-text">@post.Description...</p>
                    <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id" class="btn btn-primary">Read more..</a>

                </div>
            </div>
        </div>
    }
</div>